client/node_modules
client/package-lock.json
client/package.json
client/build
client/.env
client/firebase.js
client/src/firebase.js

node_modules
package-lock.json
package.json
.firebaserc
firebase.json
